language: python
python:
  - 2.7
  - 3.5
  - 3.6
  - 3.7
  - 3.8

install:
  - pip install codecov
  - pip install -r requirements-dev.txt
  - python setup.py develop

script:
  - python -m pytest

after_success:
  - codecov
